#mainWindow{
    -fx-background-image: url("https://source.unsplash.com/random/400x800?october");
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
}

#searchInput{
    -fx-text-fill: #737373;
}

.list-cell {
    -fx-background-color: transparent;
}
.list-view {
    -fx-background-color: transparent;
}

.list-view .scroll-bar:vertical {
    -fx-scale-x: 0;
}

.list-view .scroll-bar:horizontal {
    -fx-scale-x: 0;
}

.blueFill{
    -fx-fill: #3BC1FF;
}

.redFill{
    -fx-fill: #D9541E;
}

.violetFill{
    -fx-fill: #AD2AE8;
}

.greenFill{
    -fx-fill: #44E82A;
}

.orangeFill{
    -fx-fill: #FFC930;
}

.darkFill{
    -fx-fill: #737373;
}

.lightFill{
    -fx-fill: #bfbfbf;
}

.bgFill{
    -fx-background-color: #dedede;
}