#calendarMonth {
    -fx-font-size: 30px;
    -fx-font-smoothing-type: lcd;
    -fx-font-family: 'Open Sans';
    -fx-font-style: normal;
    -fx-font-weight: 700;
}

#calendarYear {
    -fx-font-size: 30px;
    -fx-font-smoothing-type: lcd;
    -fx-font-family: 'Open Sans';
    -fx-font-style: normal;
    -fx-font-weight: 300;
}

#leftContainer{
    -fx-background-image: url("https://source.unsplash.com/random/400x800?october");
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
}

#searchInput{
    -fx-text-fill: #737373;
}

.arrowButton{
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-font-family: 'Open Sans';
    -fx-font-style: normal;
    -fx-font-weight: 300;
    -fx-font-size: 20px;
    -fx-font-smoothing-type: lcd;
    -fx-text-fill: #737373;
}

.calendarHeader{
}

.calendarDay{
    -fx-font-family: 'Open Sans';
    -fx-font-style: normal;
    -fx-font-weight: 700;
    -fx-font-size: 14px;
}

.list-cell {
    -fx-background-color: transparent;
}
.list-view {
    -fx-background-color: transparent;
}

.list-view .scroll-bar:vertical {
    -fx-scale-x: 0;
}

.list-view .scroll-bar:horizontal {
    -fx-scale-x: 0;
}

.taskListItemName{
    -fx-fill: #dedede;
    -fx-font-family: 'Open Sans';
    -fx-font-style: normal;
    -fx-font-weight: 400;
    -fx-font-size: 15px;
}

.taskListDay{
    -fx-fill: #737373;
    -fx-font-family: 'Open Sans';
    -fx-font-style: normal;
    -fx-font-weight: 700;
    -fx-font-size: 17px;
}

.taskListHours{
    -fx-font-family: 'Open Sans';
    -fx-font-style: normal;
    -fx-font-weight: 400;
    -fx-font-size: 15px;
}

.taskListItemDone{
    -fx-strikethrough: true;
}

.blueFill{
    -fx-fill: #3BC1FF;
}

.redFill{
    -fx-fill: #D9541E;
}

.violetFill{
    -fx-fill: #AD2AE8;
}

.greenFill{
    -fx-fill: #44E82A;
}

.orangeFill{
    -fx-fill: #FFC930;
}

.darkFill{
    -fx-fill: #737373;
}

.lightFill{
    -fx-fill: #bfbfbf;
}

.selectedField{
    -fx-underline: true;
    -fx-fill: #3BC1FF;
}

.bgFill{
    -fx-background-color: #dedede;
}